@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Syne:wght@400..800&display=swap'); */

body {
  background: url(../../public/images/bg.png);
  background-size: cover;
  font-family:'Comfortaa' !important;
}
.site {
  font-weight: 400;
}
code {
  font-family: monospace;
}
.text-logo {
  font-family: 'Paytone One' !important;
  cursor: pointer;
  color: #ffd301;
  font-weight: 600;
  text-shadow: 2px 2px 1px #e7480f;
  font-size: 50px;
  padding: 40px 0px;
  text-align: center;
}
.nav {
  margin-bottom: 40px;
}
.nav > li > a,
.nav > li > button {
  color: #eee;
  font-size: 18px;
  text-shadow: 1px 1px #333;
}
.nav > li > a:focus,
.nav > li > button:focus,
.nav > li > a:hover,
.nav > li > button:hover {
  color: #e7480f;
  background-color: #eee;
}
.nav-pills > li.active > a,
.nav-pills > li.active > button,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > button:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > button:focus {
  background: #e7480f;
  color: #eee;
}
.thumbnail img {
  background: #ffd301;
}
.price {
  background: #5cb85c;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 2px 2px #333;
  position: absolute;
  right: 6px;
  top: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
}
.price:before {
  border: 4px solid transparent;
  border-bottom: 4px solid #4a934a;
  border-left: 4px solid #4a934a;
  content: "";
  position: absolute;
  right: 1px;
  top: -8px;
}
.caption > h4 {
  color: #e7480f;
  font-size: 18px;
}
.btn-order {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #e7480f;
  text-decoration: none;
  text-shadow: 2px 2px #333;
}
.btn-order:hover,
.btn-order:focus {
  color: #fff;
  background-color: #c13c0d;
}
/* ADMIN */
.admin {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
.help-inline {
  color: red;
}
